* {
	font-family: 'Varela Round', sans-serif;
	font-weight: bold;
	text-align: center;
	justify-content: center;
}

tr {
    line-height: 30px;
}

th {
	color: grey;
	font-size: 12px;
}

td {
	color: #ffffff;
	font-size: 20px;
}

i {
	color: #58585a;
	font-size: 30px !important;
}

span {
	color: #58585a;
	font-size: 12px;
}

p {
	color: #a8db48;
	font-size: 30px;
}

button {
	color: #ffffff;
	font-size: 28px;
	background-color: transparent;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin: 30px 10px;
    -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.10);
    -moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.10);
    box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.10);
    border: none;
    font-size: 25px;
    width: 310px;
    height: 45px;
}

.box {
	width: 700px;
	background: linear-gradient(to bottom right, #caf441, #7ca91b);
	border: 1px solid #58585a;
}

.box h1 {
	color: #9ecb3c;
	background: #58585a;
	padding: 20px;
	margin: 0px 0px 15px 0px;
}

.box-green {
	display: flex;
}

.col-4 {
	margin: 0px 10px 0px 10px;	
	width: 210px;
}

.total p {
	color: #a8db48;
	background-color: white;
	margin: 5px 0px 5px 0px;
	/*padding: 5px 48px 5px 48px;*/
	padding: 5px 0px 5px 0px;
	width: 194px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	font-size: 30px;
	-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.25);
}
